.container{
	border: solid red;
	/* width: 750px; */
	padding: 5px;
	/* margin-left: 100px; */
	/* justify-content: center;
	align-items: center; */
	background: linear-gradient(to right,tan,pink)

}

h3{
	color: white;
	text-align: center;
	font-weight: bold;
	font-size: 25px;
	font-family: sans-serif;
}
/* 
.gallery{
	border: solid;
	justify-content: center;
	align-items: center;
}  */

*{
	margin: 0px;
	padding: 0px;
	box-sizing: padding-box;
}

.img{
	width: 200px;
	height:200px;
	padding: 10px;
	margin: 20px 10px;
	border: 2px solid red;
	border-radius: 5px ;
	filter: grayscale(100%);
	transition: 1s ;
	
	
}

.img:hover{
		border: 2px ridge royalblue;
		filter: grayscale(0);
		transform: scale(1.1);
		background: white;
}


